@model MVCQuiz.Models.QuizModel

@{
    ViewData["Title"] = "Quiz";
}

<h1>@Model.Title</h1>
<form method="post" asp-action="SubmitQuiz">
    <input type="hidden" name="quizId" value="@Model.Id" />  

    @for (int i = 0; i < Model.Questions.Count; i++)
    {
        <partial name="_PartialQuestion" model="Model.Questions[i]"
                 view-data="@(new ViewDataDictionary(ViewData) { { "QuestionIndex", i } })" />
    }

    <button type="submit" class="btn-primary">Submit Quiz</button>
</form>